---
import PostListItem from "@/components/PostListItem.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
const { class: className } = Astro.props;
---

<div class={`post-list ${className ?? ""}`}>
  {
    posts.map((post, index) => (
      <a href={`/posts/${post.id}`} class={index > 0 ? "mt-6" : ""}>
        <PostListItem
          id={post.id}
          title={post.data.title}
          description={post.data.description}
          createDate={post.data.createDate}
        />
      </a>
    ))
  }
</div>

<style>
  @reference "../styles/global.css";
  .post-list {
    @apply flex flex-col;
  }
</style>
